### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
school_data.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_data = pd.read_csv(student_data_to_load)
student_data.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [7]:
# change dtype
school_data_complete_df["School ID"] = school_data_complete_df["School ID"].astype(int)

In [8]:
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int32
type             object
size              int64
budget            int64
dtype: object

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [9]:
# total students
total_students = school_data_complete_df["Student ID"].count() 
total_students

39170

In [10]:
school_data.head(2)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411

In [11]:
# total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [12]:
# total schools
total_schools = len(school_data_complete_df["school_name"].unique())
total_schools

15

In [13]:
count = student_data.count()
count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [14]:
avg_math = student_data["math_score"].mean()
avg_math

78.98537145774827

In [15]:
avg_reading = student_data["reading_score"].mean()
avg_reading

81.87784018381414

In [16]:
# isolate math scores and passing reading scores
math_score_df = student_data["math_score"]
passing_math_df = math_score_df[math_score_df >= 70]
math_pass_percent= passing_math_df.count()/math_score_df.count() * 100
math_pass_percent

74.9808526933878

In [17]:
# isolate reading scores and passing reading scores
reading_score_df = student_data["reading_score"]
passing_reading_df = reading_score_df[reading_score_df >= 70]
reading_pass_percent= passing_reading_df.count()/reading_score_df.count() * 100
reading_pass_percent

85.80546336482001

In [18]:
# reading_math_df = []
# for row in student_data:
#     if student_data[row, 5] >= 70:
#         reading_math_df.append()
# reading_math_df
passing_math_pd = student_data.loc[student_data["math_score"] >= 70]
# passing_math_pd.head
Passing_both = passing_math_pd.loc[passing_math_pd["reading_score"] >=70]
Passing_both_value = Passing_both["reading_score"].count()
Passing_both_value

25528

In [19]:
# create summary DF
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Avg Math Score": [avg_math],
    "Avg Reading Score": [avg_reading],
    "Passing Reading %": [reading_pass_percent],
    "Passing Math %": [math_pass_percent],
    "Passing Reading & Math %": [Passing_both_value / reading_score_df.count() * 100]
})
district_summary_df

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Passing Reading %,Passing Math %,Passing Reading & Math %
0,15,39170,24649428,78.985371,81.87784,85.805463,74.980853,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [20]:
# set DF foundation with school_data
school_summary_df = school_data
# add calculate fields 'per student budget'
school_summary_df["per student budget"] = school_summary_df["budget"] / school_summary_df["size"]
school_group = student_data.groupby(["school_name"])
school_avgs = school_group.mean()
# school_avgs
# merge school averages with school summary table
school_sum_w_avgs = pd.merge(school_summary_df, school_avgs, how="left", on=["school_name", "school_name"])
school_sum_w_avgs

# school_summary_df["avg math score"] = school_avgs['math_score']
# school_summary_df['avg reading score'] = school_avgs['reading_score']
# school_summary_df

,School ID,school_name,type,size,budget,per student budget,Student ID,reading_score,math_score
0,0,Huang High School,District,2917,1910635,655.0,1458.0,81.182722,76.629414
1,1,Figueroa High School,District,2949,1884411,639.0,4391.0,81.158020,76.711767
2,2,Shelton High School,Charter,1761,1056600,600.0,6746.0,83.725724,83.359455
3,3,Hernandez High School,District,4635,3022020,652.0,9944.0,80.934412,77.289752
4,4,Griffin High School,Charter,1468,917500,625.0,12995.5,83.816757,83.351499
5,5,Wilson High School,Charter,2283,1319574,578.0,14871.0,83.989488,83.274201
6,6,Cabrera High School,Charter,1858,1081356,582.0,16941.5,83.975780,83.061895
7,7,Bailey High School,District,4976,3124928,628.0,20358.5,81.033963,77.048432
8,8,Holden High School,Charter,427,248087,581.0,23060.0,83.814988,83.803279
9,9,Pena High School,Charter,962,585858,609.0,23754.5,84.044699,83.839917
10,10,Wright High School,Charter,1800,1049400,583.0,25135.5,83.955000,83.682222
11,11,Rodriguez High School,District,3999,2547363,637.0,28035.0,80.744686,76.842711
12,12,Johnson High School,District,4761,3094650,650.0,32415.0,80.966394,77.072464
13,13,Ford High School,District,2739,1763916,644.0,36165.0,80.746258,77.102592
14,14,Thomas High School,Charter,1635,1043130,638.0,38352.0,83.848930,83.418349

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

# PyCity Schools Analysis