### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Examine Data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# examine dtypes of merged data
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [6]:
# total schools
total_schools = school_data['school_name'].count()
total_schools

15

In [7]:
# total students
total_students = school_data_complete["Student ID"].count() 
total_students

39170

In [8]:
# total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [9]:
# total students
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [10]:
# calculate average math score
avg_math = student_data["math_score"].mean()
avg_math

78.98537145774827

In [11]:
# calculate average reading score
avg_reading = student_data["reading_score"].mean()
avg_reading

81.87784018381414

In [12]:
# establish 'math' dimensions and calculate passing math percentage
math = student_data["math_score"]
math_pass_df = student_data.loc[student_data["math_score"] >= 70]
math_pass_count = len(math_pass_df)
math_pass_percent = math_pass_count/total_students * 100
math_pass_percent

74.9808526933878

In [13]:
# establish 'reading' dimensions and calculate passing reading percentage
reading = student_data["reading_score"]
reading_pass_df = student_data.loc[student_data["reading_score"] >= 70]
reading_pass_count = len(reading_pass_df)
reading_pass_percent = reading_pass_count/total_students * 100
reading_pass_percent

85.80546336482001

In [14]:
# calculate both passing
passing_both_count = len(reading_pass_df.loc[reading_pass_df["math_score"] >= 70])
passing_both_percent = passing_both_count/total_students * 100
passing_both_percent

65.17232575950983

In [15]:
# create summary DF
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Avg Math Score": [avg_math],
    "Avg Reading Score": [avg_reading],
    "Passing Math %": [math_pass_percent],
    "Passing Reading %": [reading_pass_percent],
    "Passing Reading & Math %": [passing_both_percent]
})

print("District Summary")
district_summary_df

District Summary

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Passing Math %,Passing Reading %,Passing Reading & Math %
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
# Format Base table for school summary 
school_summary_base = school_data.rename(
    columns={
        "school_name": "School Name",
        "type": "Type",
        "size": "Total Students",
        "budget": "Total Student Budget"
    })
del school_summary_base["School ID"]
# add Budget per Student to school_summary_base
school_summary_base["Budget per Student"] = school_summary_base["Total Student Budget"]/school_summary_base["Total Students"]

In [17]:
# merge school averages with school summary table
school_group = school_data_complete.groupby(["school_name"])
school_avgs = school_group.mean()
school_avgs

# add school_avgs
school_summary_base = pd.merge(school_summary_base, school_avgs, how="left", left_on=["School Name"], right_on=["school_name"])
# delete duplicate or unnessary columns
del school_summary_base["Student ID"]
del school_summary_base["School ID"]
del school_summary_base["size"]
del school_summary_base["budget"]

In [18]:
# rename columns
school_summary_base = school_summary_base.rename(
    columns={
        "reading_score": "Avg Reading Score",
        "math_score": "Avg Math Score"
    })
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349

In [19]:
# Calculate passing math grouped by school
# get counts by school
reading_pass_group = reading_pass_df.groupby(["school_name"])
reading_pass_group_count = reading_pass_group.count()
# math_pass_group_count
school_summary_base = pd.merge(school_summary_base, reading_pass_group_count, how="left", left_on=["School Name"], right_on=["school_name"])
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score,Student ID,student_name,gender,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,2372,2372,2372,2372,2372,2372
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,2381,2381,2381,2381,2381,2381
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,1688,1688,1688,1688,1688,1688
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,3748,3748,3748,3748,3748,3748
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,1426,1426,1426,1426,1426,1426
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,2204,2204,2204,2204,2204,2204
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,1803,1803,1803,1803,1803,1803
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,4077,4077,4077,4077,4077,4077
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,411,411,411,411,411,411
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,923,923,923,923,923,923
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,1739,1739,1739,1739,1739,1739
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,3208,3208,3208,3208,3208,3208
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,3867,3867,3867,3867,3867,3867
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,2172,2172,2172,2172,2172,2172
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,1591,1591,1591,1591,1591,1591

In [20]:
school_summary_base = school_summary_base.rename(
    columns={"Student ID":"passingreadingcount"})
# delete duplicate or unnessary columns
del school_summary_base["student_name"]
del school_summary_base["gender"]
del school_summary_base["grade"]
del school_summary_base["reading_score"]
del school_summary_base["math_score"]
# calculate percent passing math
school_summary_base['Passing Reading %'] = school_summary_base['passingreadingcount']/school_summary_base["Total Students"]*100
del school_summary_base["passingreadingcount"]
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score,Passing Reading %
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869

In [21]:
# Calculate passing math grouped by school
# get counts by school
math_pass_group = math_pass_df.groupby(["school_name"])
math_pass_group_count = math_pass_group.count()
# math_pass_group_count
school_summary_base = pd.merge(school_summary_base, math_pass_group_count, how="left", left_on=["School Name"], right_on=["school_name"])
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score,Passing Reading %,Student ID,student_name,gender,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,1916,1916,1916,1916,1916,1916
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,1946,1946,1946,1946,1946,1946
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,1653,1653,1653,1653,1653,1653
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,3094,3094,3094,3094,3094,3094
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,1371,1371,1371,1371,1371,1371
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,2143,2143,2143,2143,2143,2143
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,1749,1749,1749,1749,1749,1749
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,3318,3318,3318,3318,3318,3318
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,395,395,395,395,395,395
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,910,910,910,910,910,910
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,1680,1680,1680,1680,1680,1680
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,2654,2654,2654,2654,2654,2654
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,3145,3145,3145,3145,3145,3145
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,1871,1871,1871,1871,1871,1871
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,1525,1525,1525,1525,1525,1525

In [22]:
school_summary_base = school_summary_base.rename(
    columns={"Student ID":"passingmathcount"})
# delete duplicate or unnessary columns
del school_summary_base["student_name"]
del school_summary_base["gender"]
del school_summary_base["grade"]
del school_summary_base["reading_score"]
del school_summary_base["math_score"]
# calculate percent passing math
school_summary_base['Passing Math %'] = school_summary_base['passingmathcount']/school_summary_base["Total Students"]*100
del school_summary_base["passingmathcount"]
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score,Passing Reading %,Passing Math %
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171

In [23]:
# Calculate passing both counts by school
passing_both_group = school_data_complete.loc[school_data_complete["math_score"] >= 70]
passing_both_group = passing_both_group.loc[passing_both_group["reading_score"] >= 70]
passing_both_group = passing_both_group.groupby(["school_name"])
passing_both_group_count = passing_both_group.count()
passing_both_group_count
school_summary_base = pd.merge(school_summary_base, passing_both_group_count, how="left", left_on=["School Name"], right_on=["school_name"])
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score,Passing Reading %,Passing Math %,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,1561,1561,1561,1561,1561,1561,1561,1561,1561,1561
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,1569,1569,1569,1569,1569,1569,1569,1569,1569,1569
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,1583,1583,1583,1583,1583,1583,1583,1583,1583,1583
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,2481,2481,2481,2481,2481,2481,2481,2481,2481,2481
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,1330,1330,1330,1330,1330,1330,1330,1330,1330,1330
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,2068,2068,2068,2068,2068,2068,2068,2068,2068,2068
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,1697,1697,1697,1697,1697,1697,1697,1697,1697,1697
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,2719,2719,2719,2719,2719,2719,2719,2719,2719,2719
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,381,381,381,381,381,381,381,381,381,381
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,871,871,871,871,871,871,871,871,871,871
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,1626,1626,1626,1626,1626,1626,1626,1626,1626,1626
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,2119,2119,2119,2119,2119,2119,2119,2119,2119,2119
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,2549,2549,2549,2549,2549,2549,2549,2549,2549,2549
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,1487,1487,1487,1487,1487,1487,1487,1487,1487,1487

In [24]:
school_summary_base = school_summary_base.rename(
    columns={"Student ID":"passingbothcount"})
# delete duplicate or unnessary columns
del school_summary_base["student_name"]
del school_summary_base["gender"]
del school_summary_base["grade"]
del school_summary_base["reading_score"]
del school_summary_base["math_score"]
del school_summary_base["School ID"]
del school_summary_base["size"]
del school_summary_base["budget"]

# calculate percent passing math
school_summary_base['Passing Both %'] = school_summary_base['passingbothcount']/school_summary_base["Total Students"]*100
del school_summary_base["passingbothcount"]
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score,Passing Reading %,Passing Math %,type,Passing Both %
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,1561,53.513884
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,1569,53.204476
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,1583,89.892107
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,2481,53.527508
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,1330,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,2068,90.582567
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,1697,91.334769
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,2719,54.642283
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,381,89.227166
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,871,90.540541
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,1626,90.333333
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,2119,52.988247
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,2549,53.539172
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,1487,54.289887
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,1487,90.948012

* Create an overview table that summarizes key metrics about each school, including:
  * school_summary_baseool Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type