### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# Examine Data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
# examine dtypes of merged data
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [6]:
# total schools
total_schools = school_data['school_name'].count()
total_schools

15

In [7]:
# total students
total_students = school_data_complete["Student ID"].count() 
total_students

39170

In [8]:
# total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [9]:
# total students
total_students = school_data_complete["Student ID"].count()
total_students

39170

In [10]:
# calculate average math score
avg_math = student_data["math_score"].mean()
avg_math

78.98537145774827

In [11]:
# calculate average reading score
avg_reading = student_data["reading_score"].mean()
avg_reading

81.87784018381414

In [12]:
# establish 'math' dimensions and calculate passing math percentage
math = student_data["math_score"]
math_pass_df = student_data.loc[student_data["math_score"] >= 70]
math_pass_count = len(math_pass_df)
math_pass_percent = math_pass_count/total_students * 100
math_pass_percent

74.9808526933878

In [13]:
# establish 'reading' dimensions and calculate passing math percentage
reading = student_data["reading_score"]
reading_pass_df = student_data.loc[student_data["reading_score"] >= 70]
reading_pass_count = len(reading_pass_df)
reading_pass_percent = reading_pass_count/total_students * 100
reading_pass_percent

85.80546336482001

In [14]:
# calculate both passing
passing_both_count = len(reading_pass_df.loc[reading_pass_df["math_score"] >= 70])
passing_both_percent = passing_both_count/total_students * 100
passing_both_percent

65.17232575950983

In [15]:
# create summary DF
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Avg Math Score": [avg_math],
    "Avg Reading Score": [avg_reading],
    "Passing Math %": [math_pass_percent],
    "Passing Reading %": [reading_pass_percent],
    "Passing Reading & Math %": [passing_both_percent]
})

print("District Summary")
district_summary_df

District Summary

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,Passing Math %,Passing Reading %,Passing Reading & Math %
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
# Format Base table for school summary 
school_summary_base = school_data.rename(
    columns={
        "school_name": "School Name",
        "type": "Type",
        "size": "Total Students",
        "budget": "Total Student Budget"
    })
del school_summary_base["School ID"]
# add Budget per Student to school_summary_base
school_summary_base["Budget per Student"] = school_summary_base["Total Student Budget"]/school_summary_base["Total Students"]

In [17]:
# merge school averages with school summary table
school_group = school_data_complete.groupby(["school_name"])
school_avgs = school_group.mean()

# add school_avgs
school_summary_base = pd.merge(school_summary_base, school_avgs, how="left", left_on=["School Name"], right_on=["school_name"])
# delete duplicate or unnessary columns
del school_summary_base["Student ID"]
del school_summary_base["School ID"]
del school_summary_base["size"]
del school_summary_base["budget"]

In [18]:
# rename columns
school_summary_base = school_summary_base.rename(
    columns={
        "reading_score": "Avg Reading Score",
        "math_score": "Avg Math Score"
    })
school_summary_base

,School Name,Type,Total Students,Total Student Budget,Budget per Student,Avg Reading Score,Avg Math Score
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type